<section class="flex flex-col h-[calc(100vh-64px)]">
  <header class="bg-white px-8 py-4">
    <div class="flex justify-between max-w-7xl m-auto">
      <a class="appearance-none" routerLink="countries">
        <h2 class="font-nunitoSans font-bold text-xl">Where in the world?</h2>
      </a>

      <button class="flex items-center">
        <img
          src="/assets/icons/icon-moon.svg"
          alt="moon_icon"
          class="h-4 w-4 mr-2"
        />
        Dark mode
      </button>
    </div>
  </header>

  <router-outlet></router-outlet>
</section>
