<section class="h-full w-full" [ngClass]="theme === 1 ? 'dark-calculator': theme === 2 ? 'light-calculator': 'violet-calculator' ">
  <div class="flex flex-col p-5 min-w-[320px] max-w-[400px] mx-auto">
    <div class="grid grid-cols-4 my-8 items-end">
      <h3 class="col-span-2 default-color text-2xl font-bold">calc</h3>

      <p class="default-color text-xs text-center font-semibold">THEME</p>

      <div class="flex flex-col ml-3">
        <div class="flex justify-between px-2 font-semibold">
          <label class="default-color text-xs" for="first" onclick="">1</label>
          <label class="default-color text-xs" for="second" onclick="">2</label>
          <label class="default-color text-xs" for="third" onclick="">3</label>
        </div>

        <form [formGroup]="themeForm" class="mt-[5px] flex justify-between">
          <input type="range" min="1" max="3" value="1"
            class="appearance-none cursor-pointer w-20 rounded-3xl p-1 button-container theme-slider [&::-webkit-slider-thumb]:appearance-none [&::-webkit-slider-thumb]:size-4 [&::-webkit-slider-thumb]:rounded-full"
            formControlName="theme">
        </form>

      </div>
    </div>

    <div class="h-20 w-full mx-auto rounded-xl result-container">
      <p class="text-4xl text-right p-5 font-bold default-color">399,981</p>
    </div>

    <div class="button-container rounded-xl mt-4">
      <div class="p-6 grid grid-cols-4 gap-4 text-xl">
        <button class=" font-mono border-b-4 font-semibold rounded-md text-2xl p-2 main-button">7</button>
        <button class=" font-mono border-b-4 font-semibold rounded-md text-2xl p-2 main-button">8</button>
        <button class=" font-mono border-b-4 font-semibold rounded-md text-2xl p-2 main-button">9</button>
        <button class="font-mono  font-semibold border-b-4 rounded-md text-2xl p-2 secondary-button">DEL</button>

        <button class=" font-mono border-b-4 font-semibold rounded-md text-2xl p-2 main-button">4</button>
        <button class=" font-mono border-b-4 font-semibold rounded-md text-2xl p-2 main-button">5</button>
        <button class=" font-mono border-b-4 font-semibold rounded-md text-2xl p-2 main-button">6</button>
        <button class=" font-mono border-b-4 font-semibold rounded-md text-2xl p-2 main-button">+</button>

        <button class=" font-mono border-b-4 font-semibold rounded-md text-2xl p-2 main-button">1</button>
        <button class=" font-mono border-b-4 font-semibold rounded-md text-2xl p-2 main-button">2</button>
        <button class=" font-mono border-b-4 font-semibold rounded-md text-2xl p-2 main-button">3</button>
        <button class=" font-mono border-b-4 font-semibold rounded-md text-2xl p-2 main-button">-</button>

        <button class=" font-mono border-b-4 font-semibold rounded-md text-2xl p-2 main-button">.</button>
        <button class=" font-mono border-b-4 font-semibold rounded-md text-2xl p-2 main-button">0</button>
        <button class=" font-mono border-b-4 font-semibold rounded-md text-2xl p-2 main-button">/</button>
        <button class=" font-mono border-b-4 font-semibold rounded-md text-2xl p-2 main-button">x</button>

        <button class="font-mono font-semibold border-b-4 rounded-md text-2xl p-2 secondary-button col-span-2">RESET</button>
        <button class="font-mono col-span-2 font-semibold border-b-4 rounded-md text-2xl p-2 third-button">=</button>
      </div>
    </div>
  </div>
</section>