<section class="h-full w-full bg-[hsl(222,26%,31%)]">
  <div class="flex flex-col p-5 max-w-[400px] mx-auto">
    <div class="h-20 w-[360px] mx-auto rounded-xl bg-[hsl(224,36%,15%)]">
      <p class="text-4xl text-right p-5 text-white">399,981</p>
    </div>

    <div class="bg-[hsl(223,31%,20%)] rounded-xl mt-4">
      <div class="p-6 text-gray-800 grid grid-cols-4 gap-4 text-xl">
        <button class="font-mono bg-[hsl(30,25%,89%)] border-b-4 border-b-[hsl(28,16%,65%)] text-[hsl(221,14%,31%)] font-semibold rounded-md p-5">7</button>
        <button class="font-mono bg-[hsl(30,25%,89%)] border-b-4 border-b-[hsl(28,16%,65%)] text-[hsl(221,14%,31%)] font-semibold rounded-md p-5">8</button>
        <button class="font-mono bg-[hsl(30,25%,89%)] border-b-4 border-b-[hsl(28,16%,65%)] text-[hsl(221,14%,31%)] font-semibold rounded-md p-5">9</button>
        <button class="font-mono text-white font-semibold border-b-4 border-b-[hsl(224,28%,35%)] bg-[hsl(225,21%,49%)] rounded-md p-5">DEL</button>

        <button class="font-mono bg-[hsl(30,25%,89%)] border-b-4 border-b-[hsl(28,16%,65%)] text-[hsl(221,14%,31%)] font-semibold rounded-md p-5">4</button>
        <button class="font-mono bg-[hsl(30,25%,89%)] border-b-4 border-b-[hsl(28,16%,65%)] text-[hsl(221,14%,31%)] font-semibold rounded-md p-5">5</button>
        <button class="font-mono bg-[hsl(30,25%,89%)] border-b-4 border-b-[hsl(28,16%,65%)] text-[hsl(221,14%,31%)] font-semibold rounded-md p-5">6</button>
        <button class="font-mono bg-[hsl(30,25%,89%)] border-b-4 border-b-[hsl(28,16%,65%)] text-[hsl(221,14%,31%)] font-semibold rounded-md p-5">+</button>

        <button class="font-mono bg-[hsl(30,25%,89%)] border-b-4 border-b-[hsl(28,16%,65%)] text-[hsl(221,14%,31%)] font-semibold rounded-md p-5">1</button>
        <button class="font-mono bg-[hsl(30,25%,89%)] border-b-4 border-b-[hsl(28,16%,65%)] text-[hsl(221,14%,31%)] font-semibold rounded-md p-5">2</button>
        <button class="font-mono bg-[hsl(30,25%,89%)] border-b-4 border-b-[hsl(28,16%,65%)] text-[hsl(221,14%,31%)] font-semibold rounded-md p-5">3</button>
        <button class="font-mono bg-[hsl(30,25%,89%)] border-b-4 border-b-[hsl(28,16%,65%)] text-[hsl(221,14%,31%)] font-semibold rounded-md p-5">-</button>

        <button class="font-mono bg-[hsl(30,25%,89%)] border-b-4 border-b-[hsl(28,16%,65%)] text-[hsl(221,14%,31%)] font-semibold rounded-md p-5">.</button>
        <button class="font-mono bg-[hsl(30,25%,89%)] border-b-4 border-b-[hsl(28,16%,65%)] text-[hsl(221,14%,31%)] font-semibold rounded-md p-5">0</button>
        <button class="font-mono bg-[hsl(30,25%,89%)] border-b-4 border-b-[hsl(28,16%,65%)] text-[hsl(221,14%,31%)] font-semibold rounded-md p-5">/</button>
        <button class="font-mono bg-[hsl(30,25%,89%)] border-b-4 border-b-[hsl(28,16%,65%)] text-[hsl(221,14%,31%)] font-semibold rounded-md p-5">x</button>

        <button class="font-mono col-span-2 text-white font-semibold border-b-4 border-b-[hsl(224,28%,35%)] bg-[hsl(225,21%,49%)] rounded-md p-5">0</button>
        <button class="font-mono col-span-2 text-white font-semibold border-b-4 border-b-[hsl(6,70%,34%)] bg-[hsl(6,63%,50%)] rounded-md p-5">&equals;</button>
      </div>
    </div>
  </div>
</section>