<section class="h-full w-full" [ngClass]="selectedTheme() === 1 ? 'dark-calculator': selectedTheme() === 2 ? 'light-calculator': 'violet-calculator' ">
  <div class="flex flex-col p-5 min-w-[320px] max-w-[400px] mx-auto">
    <div class="grid grid-cols-4 my-8 items-end">
      <h3 class="col-span-2 default-color text-2xl font-bold">calc</h3>

      <p class="default-color text-xs text-center font-semibold">THEME</p>

      <div class="flex flex-col ml-3">
        <div class="flex justify-between px-2 font-semibold">
          <label class="default-color text-xs" for="first" onclick="">1</label>
          <label class="default-color text-xs" for="second" onclick="">2</label>
          <label class="default-color text-xs" for="third" onclick="">3</label>
        </div>

        <form class="mt-[5px] flex justify-between">
          <input type="range" min="1" max="3" [value]="selectedTheme()"
            class="appearance-none cursor-pointer w-20 rounded-3xl p-1 button-container theme-slider [&::-webkit-slider-thumb]:appearance-none [&::-webkit-slider-thumb]:size-4 [&::-webkit-slider-thumb]:rounded-full"
            [formControl]="themeControl">
        </form>

      </div>
    </div>

    <input class="appearance-none h-20 w-full rounded-xl text-right text-3xl font-bold p-6 result-container" type="number" [formControl]="calculationControl">

    <div class="button-container rounded-xl mt-4">
      <div class="p-6 grid grid-cols-4 gap-4 text-xl">
        <button class=" font-mono border-b-4 font-semibold rounded-md text-2xl p-2 main-button" (click)="calculateNumber(7)">7</button>
        <button class=" font-mono border-b-4 font-semibold rounded-md text-2xl p-2 main-button" (click)="calculateNumber(8)">8</button>
        <button class=" font-mono border-b-4 font-semibold rounded-md text-2xl p-2 main-button" (click)="calculateNumber(9)">9</button>
        <button class="font-mono  font-semibold border-b-4 rounded-md text-2xl p-2 secondary-button">DEL</button>

        <button class=" font-mono border-b-4 font-semibold rounded-md text-2xl p-2 main-button" (click)="calculateNumber(4)">4</button>
        <button class=" font-mono border-b-4 font-semibold rounded-md text-2xl p-2 main-button" (click)="calculateNumber(5)">5</button>
        <button class=" font-mono border-b-4 font-semibold rounded-md text-2xl p-2 main-button" (click)="calculateNumber(6)">6</button>
        <button class=" font-mono border-b-4 font-semibold rounded-md text-2xl p-2 main-button">+</button>

        <button class=" font-mono border-b-4 font-semibold rounded-md text-2xl p-2 main-button" (click)="calculateNumber(1)">1</button>
        <button class=" font-mono border-b-4 font-semibold rounded-md text-2xl p-2 main-button" (click)="calculateNumber(2)">2</button>
        <button class=" font-mono border-b-4 font-semibold rounded-md text-2xl p-2 main-button" (click)="calculateNumber(3)">3</button>
        <button class=" font-mono border-b-4 font-semibold rounded-md text-2xl p-2 main-button">-</button>

        <button class=" font-mono border-b-4 font-semibold rounded-md text-2xl p-2 main-button" (click)="calculateNumber(1)">.</button>
        <button class=" font-mono border-b-4 font-semibold rounded-md text-2xl p-2 main-button" (click)="calculateNumber(0)">0</button>
        <button class=" font-mono border-b-4 font-semibold rounded-md text-2xl p-2 main-button" (click)="calculateNumber(1)">/</button>
        <button class=" font-mono border-b-4 font-semibold rounded-md text-2xl p-2 main-button">x</button>

        <button class="font-mono font-semibold border-b-4 rounded-md text-2xl p-2 secondary-button col-span-2">RESET</button>
        <button class="font-mono col-span-2 font-semibold border-b-4 rounded-md text-2xl p-2 third-button">=</button>
      </div>
    </div>
  </div>
</section>