<div class="container">
  <form #ageCalculator="ngForm">
    <div class="form-group">
      <div class="data">
        <label for="day">DAY</label>
        <input
          type="number"
          id="day"
          [(ngModel)]="birthdate.day"
          name="day"
          placeholder="DD"
        />
      </div>

      <div class="data">
        <label for="month">MONTH</label>
        <input
          type="number"
          id="month"
          [(ngModel)]="birthdate.month"
          name="month"
          placeholder="MM"
        />
      </div>

      <div class="data">
        <label for="year">DAY</label>
        <input
          type="number"
          id="year"
          [(ngModel)]="birthdate.year"
          name="year"
          placeholder="YYYY"
        />
      </div>
    </div>

    <div class="button-container">
      <hr />
      <button type="button" class="button"></button>
    </div>
  </form>

  <div class="result">
    <div>
      <span>{{ birthdate.year }}</span> years
    </div>
    <div>
      <span>{{ birthdate.month }}</span> months
    </div>
    <div>
      <span>{{ birthdate.day }}</span> days
    </div>
  </div>
</div>
