$base-color-border: hsl(0, 0, 80%);
$purple: hsl(259, 100%, 65%);

:host {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  font-family: "Poppins";
}

.container {
  background-color: white;
  border-radius: 10px 10px 50px 10px;
  padding: 30px;
}

.form-group {
  display: flex;
  flex-direction: row;
  gap: 25px;
}

.data {
  display: flex;
  flex-direction: column;

  label {
    color: hsl(0, 0, 50%);
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 3px;
  }

  input {
    height: 40px;
    width: 80px;
    padding: 0 8px;
    font-size: 20px;
    font-weight: bold;
    border: 1px solid $base-color-border;
    border-radius: 5px;

    &::placeholder {
      color: hsl(0, 0%, 60%);
    }
  }
}

.button-container {
  display: flex;
  flex-direction: row;
  align-items: center;

  hr {
    height: 0;
    width: 100%;
    border-top: 1px solid $base-color-border;
  }

  .button {
    height: 50px;
    width: 50px;
    background-image: url("/assets/images/icon-arrow.svg");
    background-size: 36px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: $purple;
    border-radius: 50%;
    border: none;
    padding: 30px;
  }
}

.result {
  font-family: "Poppins-Bold";
  font-size: 60px;
  font-style: italic;

  span {
    color: $purple;
  }
}

@media only screen and (min-width: 600px) {
  .button-container {
    width: 500px;
  }
}
