<div class="flex flex-col bg-white shadow-md shadow-slate-300">
  <a routerLink="/countries/country/{{ country.name.common }}">
    <img
      [src]="country.flags.svg"
      alt="flag image"
      class="border-b-2 border-solid border-b-slate-200"
    />
  </a>
  <div class="px-4 py-5">
    <p class="text-base font-semibold mb-2">{{ country.name.common }}</p>

    <div class="flex">
      <p class="font-medium mr-1">Population:</p>
      {{ country.population | number : "1.0-0" }}
    </div>

    <div class="flex">
      <p class="font-medium mr-1">Region:</p>
      {{ country.region }}
    </div>

    <div class="flex">
      <p class="font-medium mr-1">Capital:</p>
      {{ capital }}
    </div>
  </div>
</div>
