<section class="my-4 mx-8 dark:text-slate-300">
  <div class="max-w-7xl mt-10 mx-auto">
    <a routerLink="/countries">
      <button
        class="flex bg-white hover:bg-gray-100 text-gray-800 py-2 px-4 mr-2 mb-2 rounded shadow dark:bg-slate-600 dark:text-slate-300"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6 mr-2"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M6.75 15.75 3 12m0 0 3.75-3.75M3 12h18"
          />
        </svg>

        Back
      </button>
    </a>
  </div>

  <div
    *ngIf="country$ | async as country"
    class="flex flex-col gap-20 justify-between max-w-7xl mt-10 mx-auto lg:flex-row"
  >
    <div class="lg:w-1/2">
      <img
        [src]="country.flags.svg"
        alt="flag image"
        class="border-b-2 border-solid border-b-slate-200 dark:border-b-slate-600"
      />
    </div>

    <div class="lg:w-1/2">
      <h3 class="font-bold text-2xl mt-5">
        {{ country.name.common }}
      </h3>

      <div class="flex flex-col mt-6 gap-10 lg:flex-row">
        <div class="w-1/2">
          <div class="flex items-baseline">
            <p class="font-medium text-lg mr-2 mb-1">Native Name:</p>
            <span>{{ country.name.commonNativeName }}</span>
          </div>

          <div class="flex items-baseline">
            <p class="font-medium text-lg mr-2 mb-1">Population:</p>
            <span>{{ country.population | number : "1.0-0" }}</span>
          </div>

          <div class="flex items-baseline">
            <p class="font-medium text-lg mr-2 mb-1">Region:</p>
            <span>{{ country.region }}</span>
          </div>

          <div class="flex items-baseline">
            <p class="font-medium text-lg mr-2 mb-1">Sub Region:</p>
            <span>{{ country.subregion }}</span>
          </div>

          <div class="flex items-baseline">
            <p class="font-medium text-lg mr-2 mb-1">Capital:</p>
            <span>{{ country.capital }}</span>
          </div>
        </div>

        <div class="w-1/2">
          <div class="flex items-baseline">
            <p class="font-medium text-lg mr-2 mb-1">Top Level Domain:</p>
            <span>{{ country.tld[0] }}</span>
          </div>

          <div class="flex items-baseline">
            <p class="font-medium text-lg mr-2 mb-1">Currencies:</p>
            <span>{{ country.commonCurrencyName }}</span>
          </div>

          <div class="flex flex-wrap items-baseline">
            <p class="font-medium text-lg mr-2 mb-1">Languages:</p>

            <span
              *ngFor="
                let language of country.languages | keyvalue as languages;
                index as i
              "
            >
              {{ language.value
              }}<span *ngIf="i < languages.length - 1">,&nbsp;</span>
            </span>
          </div>
        </div>
      </div>

      <div class="mt-10 flex flex-wrap items-center">
        <h3 class="font-medium text-lg mr-4">Border Countries:</h3>

        <ng-container *ngFor="let border of country.parsedBorders">
          <ng-container *ngFor="let entry of border | keyvalue">
            <a routerLink="/countries/country/{{ entry.key }}">
              <button
                class="bg-white hover:bg-gray-100 text-gray-800 py-2 px-4 mr-2 mb-2 rounded shadow dark:bg-slate-600 dark:text-slate-300"
              >
                {{ entry.value }}
              </button>
            </a>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </div>
</section>
