<div class="shell">
  <div class="container">
    <div class="header">
      <img src="assets/icons/icon-star.svg" />

      <h2>FAQs</h2>
    </div>

    <div class="content">
      <div *ngFor="let faq of faqs; index as i" class="faq">
        <div class="question" (click)="showFaq(i)">
          <p>{{ faq.question }}</p>

          <div class="icon">
            <button mat-icon-button>
              <svg-icon [src]="
                  faq.displayed
                    ? 'assets/icons/icon-minus.svg'
                    : 'assets/icons/icon-plus.svg'
                " [attr.alt]="faq.displayed ? 'icon-opened' : 'icon-closed'"></svg-icon>
            </button>
          </div>
        </div>

        <div class="answer" [ngClass]="{ hidden: !faq.displayed }">
          <p>{{ faq.answer }}</p>
        </div>
      </div>
    </div>
  </div>
</div>