<div class="rounded-lg w-80">
  <div class="flex h-40 bg-[url('/assets/images/weather/day.jpg')] bg-cover rounded-lg shadow-inner">
    <div class="flex flex-col justify-center items-center text-white shadow-2xl bg-black bg-opacity-20 p-4 h-full w-full rounded-lg">
      <p class="text-xl">Jakarta</p>
      <p class="text-4xl font-semibold">30 &deg;C</p>
    </div>


  </div>
  <!-- <div class="w-80 h-72 bg-[url('/assets/images/weather/night.png')] bg bg-cover">
  </div> -->

  <div>
    <div class="grid grid-cols-2 grid-rows-2">
      <div>min</div>
      <div>max</div>
      <div>humidity</div>
      <div>wind</div>
    </div>
  </div>
</div>