<div class="rounded-lg w-80 shadow-sky-950 shadow-2xl mt-14 h-fit">
  <div class="flex h-40 bg-cover rounded-t-lg shadow-inner" [ngClass]="bgURL">
    <div class="flex flex-col justify-center items-center text-white shadow-2xl  p-4 h-full w-full rounded-t-lg">
      <p class="text-xl">Jakarta</p>
      <p class="text-4xl font-semibold">30 &deg;C</p>
    </div>


  </div>
  <!-- <div class="w-80 h-72 bg bg-cover">
  </div> -->

  <div class="bg-slate-200 bg-opacity-70 text-black rounded-b-lg">
    <div class="grid grid-cols-2 grid-rows-2">
      <div class="flex flex-row gap-4 items-center p-4">
        <div class="flex flex-col text-center">
          <span class="material-symbols-outlined text-4xl text-blue-400">
            mode_cool
          </span>
          <span>min</span>
        </div>
        <p>-10 &deg;C</p>
      </div>

      <div class="flex flex-row gap-4 items-center p-4">
        <div class="flex flex-col text-center">
          <span class="material-symbols-outlined text-4xl text-red-400">
            heat
          </span>
          <span>max</span>
        </div>
        <p>4 &deg;C</p>
      </div>

      <div class="flex flex-row gap-4 items-center p-4">
        <div class="flex flex-col text-center">
          <span class="material-symbols-outlined text-4xl text-grey-400">
            humidity_percentage
          </span>
        </div>
        <p>80 %</p>
      </div>

      <div class="flex flex-row gap-4 items-center p-4">
        <div class="flex flex-col text-center">
          <span class="material-symbols-outlined text-4xl text-grey-400">
            air
          </span>
        </div>
        <p>4 km/h</p>
      </div>
    </div>
  </div>
</div>