<mat-toolbar>
  <header>
    <button
      mat-icon-button
      [ngClass]="{ opened: opened }"
      (click)="sidenavToggle()"
    >
      <mat-icon>menu</mat-icon>
    </button>

    <h1>Front End Mentor Challenges</h1>
  </header>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" closed>
    <mat-nav-list>
      <a mat-list-item routerLink="/qr-code" routerLinkActive="active">
        QR code
      </a>
    </mat-nav-list>
    <mat-nav-list>
      <a mat-list-item routerLink="/accordion" routerLinkActive="active">
        Accordion
      </a>
    </mat-nav-list>
    <mat-nav-list>
      <a mat-list-item routerLink="/result-summary" routerLinkActive="active">
        Result Summary
      </a>
    </mat-nav-list>
    <mat-nav-list>
      <a mat-list-item routerLink="/age-calculator" routerLinkActive="active">
        Age Calculator
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content style="height: 100%">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
