<mat-toolbar>
  <header class="flex items-center">
    <button mat-icon-button [ngClass]="{ opened: sidenav.opened }" (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>

    <p>Front End Challenges</p>
  </header>
</mat-toolbar>

<mat-sidenav-container class="h-[calc(100%-40px)] md:h-[calc(100%-64px)]">
  <mat-sidenav #sidenav mode="over" closed>
    <mat-nav-list *ngFor="let route of routes">
      <a mat-list-item [routerLink]="route.path" routerLinkActive="active">
        {{ route.title }}
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>