<div class="shell">
  <div class="container">
    <div class="header">
      <img src="assets/images/icon-star.svg" />
      <h2>FAQs</h2>
    </div>
    <div class="content">
      <div *ngFor="let faq of faqs; index as i" class="faq">
        <div class="question">
          <p>{{ faq.question }}</p>
          <div class="icon">
            <button mat-icon-button (click)="showFaq(i)">
              <svg-icon
                *ngIf="!faq.displayed"
                src="assets/images/icon-plus.svg"
                alt="icon-closed"
              ></svg-icon>
              <svg-icon
                *ngIf="faq.displayed"
                src="assets/images/icon-minus.svg"
                alt="icon-opened"
              ></svg-icon>
            </button>
          </div>
        </div>
        <div class="answer" [ngClass]="{ hidden: !faq.displayed }">
          <p>{{ faq.answer }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
