.shell {
  height: 100%;
  padding: 0 16px;
  background-color: hsl(275, 100%, 97%);
  background-image: url("/assets/images/background-pattern-desktop.svg");
  background-position: top;
  background-repeat: no-repeat;

  font-family: WorkSans;
}

.container {
  position: relative;
  top: 200px;
  min-width: 280px;
  max-width: 500px;

  margin: 0 auto;
  padding: 24px;

  background: white;
  border-radius: 12px;
  box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.2);
}

.header {
  display: flex;

  h2 {
    margin: 0 12px;
    font-size: 40px;
    font-weight: 700;
  }
}

.content {
  margin-top: 16px;
  font-size: 16px;
}

.question {
  display: flex;
  justify-content: space-between;

  p {
    font-weight: 600;
  }

  button {
    display: flex;
  }
}

.answer {
  max-height: 170px;
  opacity: 1;
  transition: max-height 0.2s ease-in, opacity 0.2s ease-in;

  &.hidden {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out, opacity 0.2s ease-in;
  }
}
