:host {
  display: block;
  max-width: 1440px;
  font-family: "Rubik";
}

.head-section {
  background-image: url("/assets/images/ip-tracker/pattern-bg-desktop.png");
  background-repeat: no-repeat;
  height: 280px;
  width: 100%;

  h1,
  .input-container,
  .ip-details {
    position: relative;
    margin: auto;
    text-align: center;
    color: white;
  }

  h1 {
    top: 24px;
    font-weight: 400;
  }

  .input-container {
    top: 48px;
    height: 40px;

    form {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    input[type="text"] {
      height: 50px;
      width: 442px;
      border: none;
      border-bottom-left-radius: 12px;
      border-top-left-radius: 12px;
    }

    .button {
      background: hsl(0, 0%, 17%);
      border: none;
      cursor: pointer;
      padding: 20px;
      width: 52px;
      height: 52px;
      border-top-right-radius: 12px;
      border-bottom-right-radius: 12px;

      .icon {
        display: block;
        height: 10px;
        background-image: url("/assets/icons/icon-arrow-right.svg");
        background-repeat: no-repeat;
        background-size: 10px 10px;
      }
    }
  }

  .ip-details {
    display: flex;
    align-items: center;

    top: 125px;
    min-height: 120px;
    width: 900px;
    padding: 24px 0px;
    background: white;
    color: black;
    border-radius: 15px;
    z-index: 2;

    .item {
      flex: 1 1 0px;
      height: 90px;
      text-align: left;
      padding-left: 24px;
    }

    .item + .item {
      border-left: solid 1px hsl(0, 0%, 59%, 0.4);
    }

    label {
      font-size: 12px;
      font-weight: 700;
      color: hsl(0, 0%, 59%);
      text-transform: uppercase;
      letter-spacing: 2px;
    }

    p {
      font-size: 18px;
      font-weight: 500;
    }
  }
}

.map {
  height: 600px;
  padding: 0;
  z-index: 1;
}
